.card {
  /* width: 25%; */
  height: 400px;
  margin: 2em;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  background-color: #ffffff1a;
}
